
*, *:before, *:after {
    font-family:Arial;
    box-sizing: border-box;
    padding:0;
}

body{
    color: #222;
    background-color: #f6f9fc;
    box-sizing:border-box;
    line-height: 28px;    
    font-size: 17px;
    margin:0;
}
p{
    margin:0;
}

ul, ol{
    padding: 0 20px;    
}
hr{
    margin: 10px 0;
    border-top: #ccc 1px solid;
}

.main-wrapper{
    position: relative;
    padding: 30px;
    width: 85vw;
    border-radius: 5px;
    margin:10px auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px #e9ecf0;
}
#explanation{
    margin: 0;
}
#explanation ul{
    margin: 10px auto;
    padding:0;
    width: 80vw;
}

#explanation_p{
    display: block;
    padding: 1px 3px;
    width: fit-content;
    background-color: #fffd75;
}
#form_area{
    margin:10px 0px 0px 0px;
    display: flex;
    flex-flow: column;
}


#select_area{
    width:100%;
    margin:125px auto auto auto;
    margin:0;
    display: flex;
    justify-content: space-between;
}
#beginner_btn,#intermediate_btn,#advanced_btn{
    margin: 5px 0 0 0;
    padding:7px 15px;
    font-size:18px;
    border: 2px solid transparent;
    border-radius: 5px;
}

#beginner_btn:hover{
    background-color: #fff;
    border: 2px solid #18d7b4;
    color: #18d7b4;
 }
 
#beginner_btn{
    background-color: #18d7b4;
    font-weight: bold;
    color: #fff;
}
#intermediate_btn:hover{
    background-color: #fff;
    border: 2px solid #edbb16;
    color: #edbb16;
 }
 
#intermediate_btn{
    background-color: #edbb16;
    font-weight: bold;
    color: #fff;
}
#advanced_btn:hover {
    background-color: #fff;
    border: 2px solid #eb176f;
    color: #eb176f;
 }
 
#advanced_btn{
    background-color: #eb176f;
    font-weight: bold;
    color: #fff;
}


#beginner_btn,#intermediate_btn,#advanced_btn{
    width: 15%;
    height: 45px;
    margin: auto auto auto 0;
}
#beginner_text,#intermediate_text,#advanced_text{
    width: 55%;
    float: left;
    margin: 0px auto 0 50px;
    margin-left: 50px;
}

#modalBeginnerBtn{
    width: 200px;
    bottom: 30px;
    right: 50px;
    background-color: #fff;
    color: #18d7b4;
    border-color: #18d7b4;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    float: right;
    margin: auto auto auto 0;
}

#topReturnBtn{
    width: 200px;
    bottom: 30px;
    right: 50px;
    background-color: #fff;
    color: #18d7b4;
    border-color: #18d7b4;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    float: right;
    margin: auto auto auto 0;
}

/* モーダル用 */
/* モーダルのスタイル */
.modal {
    display: none; /* モーダルを初期状態では非表示にする */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#showBeginnerListBtn {
    position: fixed;
    width: 200px;
    bottom: 30px;
    right: 50px;
    background-color: #eb176f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}


/* Gitの解説用 */
#commandList li {
    list-style: none;
    margin: 30px 0 0 0;
}
#commandList li:first-child {
    margin: 0 0 0 0;
}
.command-category {
    margin: 60px 0 0 0;
    padding: 0 0 10px 0;
    font-size: 23px;
    font-weight: bold;
    border-bottom: #d0d0d0 solid 1px;
}
#command_program {
    color: #df183c;
}
.command-text {
    margin: 5px 0 0 0;
}

/* .command-text:first-child {
    margin: 0 0 0 0;
} */
.commandProgramDiv {
    width: 100%;
    color: #fff;
    margin: 5px 0 0 0;
    padding: 8px;
    font-size: 17px;
    border-radius: 5px;
    background-color: #222;
}
.git-string {
    color: rgb(96, 245, 171);
}
#command_remarks {
    color: #555;
    font-size: 13px;
    margin: 0 0 5px 0;
}

/* 入力フォーム */
#hidden_form {
    display: none;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }

  #input_text {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }

  #submit_btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #submit_btn:hover {
    background-color: #45a049;
  }

  #message {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  #hidden_form {
    background-color: white;
    color: black;
  }
  #input_text {
    background-color: black;
    color: white;
    border: 1px solid black; /* ボーダーを追加 */
    padding: 5px; /* 入力欄の余白を追加 */
  }